@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRnd-Medium.otf');
  src: url('../fonts/GothamRnd-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamRnd-Bold.otf');
  src: url('../fonts/GothamRnd-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: bold;
  font-weight: bold;
}

// $body-bg:               #ddd !default;
$yellow: #fed519 !default;
$yellow-dark: #f38418 !default;
$light: #fff !default;

$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;

@import '../lib/font-awesome/font-awesome';
@import '../lib/bootstrap/_bootstrap';
@import './custom/sidebar';

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width - 250px) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width - 250px) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width - 250px) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

body {
  font-family: 'Gotham', Helvetica, Sans-Serif;
}

.logo-head {
  margin: 30px 0 20px;
}

.logo {
  background: url('../img/logo.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 64px;
  width: 250px;
}

.full-image {
  height: 100vh;
  width: 100%;
  margin-top:25px;
}

.owl-theme .owl-controls {
  height: 0;
  margin: 0;
}

.owl-theme .owl-controls .owl-pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 30px 0;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0;
  top: 40%; 
  background: transparent;
  color: #999;
  font-size: 4em;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0;
  top: 40%;
  background: transparent;
  color: #999;
  font-size: 4em;
}

.padding {
  padding: 30px;
}

.box {
  background: $yellow;
  padding: 30px;

  h1 {
    font-family: 'GothamBold';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }

  p, .info { 
    font-size: .9em;
  }
}

form#contact {

  div {
    margin-bottom: 10px;
  }
}

#map {
  width: 100%;
  height: 300px;
}

.address {
  margin: 20px 0;
  font-size: .9em;
}


.home-history {
  
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 150px 20%;
  
  .history-title {
    letter-spacing: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .history-box {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 40px 8%;
    padding-top: 20px;
    text-align: center;

  }

}

.home-news {
  
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 80px 10%;

  .news-title {
    font-size: 1.5em;
    margin-bottom: 40px;
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #000;
  }
}


img.img-news-header{
  width:250px;
  height:250px;
  border-radius:50%;
  display:block;
  margin:0 auto;
}

.front-news-description{
  text-align:justify;
  font-family:Arial;
  font-weight:normal;
}

.front-news-title{
  text-align:center;
  border-top:1px solid #000;
  margin-top:15px;
  h2 {
    margin-top:5px;
  }
}

.front-news-date{
  text-align:center;
  border-bottom:1px solid #000;
  margin-bottom:15px;
}

img.img-news-header2{
  width:180px;
  height:180px;
  border-radius:50%;
  display:block;
  margin:0 auto;
}

.front-news-description2.odd{
  text-align:right;
  font-family:Arial;
  font-weight:normal;
}

.front-news-title2.odd{
  text-align:right;
  border-top:1px solid #000;
  margin-top:15px;
  h2 {
    margin-top:5px;
  }
}

.front-news-date2.odd{
  text-align:right;
  border-bottom:1px solid #000;
  margin-bottom:15px;
}

.front-news-description2.even{
  text-align:left;
  font-family:Arial;
  font-weight:normal;
}

.front-news-title2.even{
  text-align:left;
  border-top:1px solid #000;
  margin-top:15px;
  h2 {
    margin-top:5px;
  }
}

.front-news-date2.even{
  text-align:left;
  border-bottom:1px solid #000;
  margin-bottom:15px;
}

.img-news-header-full img{
  width:600px;
  height:600px;
  display:block;
  margin:0 auto;
}


.front-news-more{
  text-align:center;
  font-style:italic;
  border-bottom:1px solid #000;
  font-size:16px;
  padding-bottom:20px;
  padding-top:20px;
}

.front-news-full{
  margin:25px 20px;
  font-family:Arial;
  font-weight:normal;
}

.feature-image{
  width:100%;
  height:250px;
}


@media (min-width: 1200px) {
  .container {
    width: 1245px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1045px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 825px;
  }
}

.news-item {
  text-align: center;
  .item-wrap {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #feeba7;
    background: #feeba7;
    height: 180px;
    width: 180px; 
    text-align: center;
    .item-title {
      a {
        text-decoration: none;
        color: #000;
      }
    }
    .item-image {
      width: 100px;
      height: 100px;
      margin: 5px 0 10px;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.kanal-img {
  height:100vh;
}

.kanal-img-container {
  overflow:auto;
}


#wrapper {
  overflow-x:hidden;
}


.img-slider {
  text-align: center;
  margin: 20px 0;
  .img-item {
    height: 100px;
    cursor: pointer;
  }
}

.kanal-container {
  padding-left:0px;
  padding-right:0px;
}

.kanal-left {
  background-color:#ddd;
  .nav {
    position: fixed;
    width:100%;
    top: 100px;
  }
}

.kanal-single-image {
  width: auto;
  height: 500px;
}

.kanal-single-content {
  padding:0px;
  text-align:center;
  .container {
    padding-bottom: 80px;
    cursor: pointer;
  }
  .container.container-small{
    padding-bottom: 0px;
  }
  h2 {
    text-align:center;
    color:#fff;
    margin-top:8px;
    margin-bottom:8px;
  }
  p {
    font-weight:normal;
  }
  img {
    padding: 2px;
  }
}

.kanal-instagram {
  margin-bottom: 15px;
}

.btn-kanal {
  background-color: #FED519;
  color: #fff;
  font-size: 18px;
  min-width: 200px;
}

.kanal {
  background-color: #ffecaa;
  ul {
    text-align: left;
    a {
      color:#666;
    }
    a:hover {
      background-color: #ffecaa !important;
    }
    a:active {
      background-color: #ffecaa !important;
    }
  }

  .active{
    a {
      color: #CD6E2A !important;
    }
  }
}

.kanal-nav {
  padding-top:100px;
  width: 200px;
  text-align: center !important;
  float: left;
  position: fixed;
  top: 0;
  height: 100%;
  display: block;
  box-sizing: border-box;
  background-color:#FFECAA;
  /* margin-left: -100px; */
  left: 50px;
  transition: all .5s ease;
}

.kanal-content {
  // margin-left:200px;
  background-color:#53C6CF;
}

@media(min-width: 768px){

  .container-kanal {
    width: 512px;
  }
  .kanal-wrapper #sidebar-wrapper {
    width: 59px;
  }
  .kanal-content {
    margin-left:0px;
  }
}

@media(min-width: 992px){
  .kanal-nav {
    // left: 250px;
  }
  .kanal-wrapper #sidebar-wrapper {
    width: 250px;
  }
  .kanal-content {
    margin-left:200px;
  }
}

@media(min-width: 1280px){
  .container-kanal {
    width: 992px;
  }
}
