@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRnd-Medium.otf');
  src: url('../fonts/GothamRnd-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamRnd-Bold.otf');
  src: url('../fonts/GothamRnd-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: bold;
  font-weight: bold;
}

// $body-bg:               #ddd !default;
$yellow: #fed519 !default;
$yellow-dark: #f38418 !default;
$light: #fff !default;

$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;

@import '../lib/font-awesome/font-awesome';
@import '../lib/bootstrap/_bootstrap';
@import './custom/sidebar';

body {
  font-family: 'Gotham', Helvetica, Sans-Serif;
}

.logo-head {
  margin: 30px 0 20px;
}

.logo {
  background: url('../img/logo.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 64px;
  width: 250px;
}

.full-image {
  height: 100vh;
  width: 100%;
}

.owl-theme .owl-controls {
  height: 0;
  margin: 0;
}

.owl-theme .owl-controls .owl-pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 30px 0;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0;
  top: 40%; 
  background: transparent;
  color: #999;
  font-size: 4em;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0;
  top: 40%;
  background: transparent;
  color: #999;
  font-size: 4em;
}

.padding {
  padding: 30px;
}

.box {
  background: $yellow;
  padding: 30px;

  h1 {
    font-family: 'GothamBold';
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
  }

  p, .info { 
    font-size: .9em;
  }
}

form#contact {

  div {
    margin-bottom: 10px;
  }
}

#map {
  width: 100%;
  height: 300px;
}

.address {
  margin: 20px 0;
  font-size: .9em;
}

.home-history {
  
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 150px 20%;
  
  .history-title {
    letter-spacing: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .history-box {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 40px 8%;
    padding-top: 20px;
    text-align: center;

  }

}

.home-news {
  
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 80px 10%;

  .news-title {
    font-size: 1.5em;
    margin-bottom: 40px;
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #000;
  }

}