.image-bulk {
  max-height: 100px;
}

.row-pad {
	padding-bottom:10px;
}


/*#wrapper {
  background-color: #424a5d;
}

.navbar-default {
	background-color: #424a5d;
}

.navbar-default a {
	color: #797979 ;
}*/