.image-bulk {
  max-height: 100px;
}

.row-pad {
	padding-bottom:10px;
}

.black-bg {
	background-color:#FCD214 !important;
}

.form-login-heading {
	background-color:#fed519 !important;
}

/*#wrapper {
  background-color: #424a5d;
}

.navbar-default {
	background-color: #424a5d;
}

.navbar-default a {
	color: #797979 ;
}*/